doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	include variables
	include includes/head
	body.preloadpage
		div.page.container-fluid
			include includes/header
			div.main
				include includes/baner
			include includes/homeleading
			div.work
			
			div.footer
				
		script
			include ../../bower_components/yepnope/yepnope.1.5.0-min.js
		script
			include ../js/load.js