- var templatedir = "assets/templates/projectsoft";
- var title = "МИР «AVON» РОССИЯ";
- var cmsmagazine = "d8e7426ec72ad3e4ea38b09ebf01284c";
- var yandex_verification = "6411e39cb56db7ea";
- var google_verification = "9VvA1Mectc9y5kU4i3X_VBb9DAqHWONgHLIMUApO8cE";