doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	include variables
	include includes/head
	body.preloadpage
		div.page.container-fluid
			include includes/header
			include includes/workavon
			include includes/getby_avon
			include includes/work_full_01
			include includes/work_full_02
			include includes/work_full_03
			include includes/work_work_page
			include includes/work_full_comments
			include includes/work_full_avonbg
			include includes/work
			include includes/footer	
		script
			include ../../bower_components/yepnope/yepnope.1.5.0-min.js
		script
			include ../js/load.js