div.baner.row
	div#slider
		.item(style="background-image: url('#{templatedir}/images/baner_0001.jpg');")
			.container
				.item_wrapper
					.item_wrapper_top
						p.text-uppercase
							span.gold AVON - ЭТО КОМПАНИЯ,
							br
							|КОТОРАЯ НЕ ТОЛЬКО ПРИНОСИТ КРАСОТУ В ДОМА ЛЮДЕЙ,
							br
							|НО И ОТКРЫВАЕТ ПЕРЕД НИМИ НОВЫЕ ГОРИЗОНТЫ.
					.item_wrapper_center
						p.text-uppercase.love.center-block
					.item_wrapper_bottom
						p.text-uppercase
							span.gold AVON - ЭТО ВОЗМОЖНОСТЬ,
							br
							|НАЧАТЬ СВОЕ ДЕЛО В ДРУЖНОЙ КОМАНДЕ!
					.item_wrapper_btn
						a.btn.btn-avon-transparent-gold(href="javascript:;")ОЗНАКОМИТЬСЯ
				