.footer.row
	.container
		.row
			.footer-wrapper.table-block
				.table-block-cell.left
					h4 О сайте
					.description
						p
							|Сайт ведущего координатора компании «AVON»
							br
							|Людмилы Атамановой
						p
							|Телефон для связи: +7 927 296-96-08
				.table-block-cell.right
					.developer
						p
							a(href="http://studionions.com" target="_blank")
								|Разработка и поддержка сайта
								br
								|WEB Студия STUDIONIONS
	.container-fluid.bottom
		p.copyright
			|Avon World Russia © 2016
			br
			г. Самара