.getby_avon.container
	.row
		.col-xs-12
			h3.getby_avon__title.text-center Почему именно AVON?
			.getby_avon__divider.clerafix
		.clerafix
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-00
				p
					span.title Легкий старт 
					| Регистрируйся бесплатно и получи стартовый набор пробных образцов нашей продукции.
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-01
				p
					span.title Гибкий график 
					| Планируй свой день так, как тебе удобно и уделяй больше времени семье и детям.
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-02
				p
					span.title Современный подход 
					| AVON дает возможность бесплатно открыть свой собственный магазин в Интернете и пройти онлайн-тренинги
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-03
				p
					span.title Новинки каждые 3 недели 
					| Новый каталог выходит каждые 3 недели и ассортимент предлагемой компанией косметики постоянно меняется
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-04
				p
					span.title Призы и привелегии 
					| Получи скидку 31% на всю продукцию AVON, а также подарок со своим первым заказом
		.col-sm-4
			.getby_avon__table
				span.getby_avon_icon.icn-avon-05
				p
					span.title Стабильность и рост дохода 
					| Сделай следующий шаг: стань Координатором и полчи бонус 125 000 рублей
