.container
	.row
		ul.homeleading_menu
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_01
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span АКЦИИ И СКИДКИ
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_02
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span ШКАЛА СКИДОК
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_03
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span ПУНКТЫ ВЫДАЧИ
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_04
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span СРОЧНАЯ ДОСТАВКА
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_05
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span ДОГОВОР КОМПАНИИ
			li.item.col-lg-2.col-md-2.col-sm-4.col-xs-6.bg_06
				span.row.bg
					a(href="javascript:;")
						span.text-uppercase.text-center.table-block
							span.table-block-cell
								span.hypher ПРЕДСТАВИТЕЛЯМ