div.leads
	.row
		.jarallax.homeleading(style="background-image: url('#{templatedir}/images/jarallax.jpg');")
			.container
				.row
					.leads_table
						.leads_table_cell.left
							div.leads_title
								img.img-responsive.center-block(src="#{templatedir}/images/actions.svg" alt="ПОРАДУЙ СЕБЯ! ПРИЗ НА ВЫБОР!")
							include carousel
						.leads_table_cell.right
							div.leads_title
								img.img-responsive.center-block(src="#{templatedir}/images/agent_title.svg" alt="СТАНЬ ПРЕДСТАВИТЕЛЕМ AVON!")
							div.agent
								ul.agent-step
									li
										p.agent-step-title.text-uppercase ПРОЙДИТЕ РЕГИСТРАЦИЮ
										p
											|И станьте представителем Avon в период с 17 октября 2016 года по 6 ноября 2016 года (в кампании 15/2016).
									li
										p.agent-step-title.text-uppercase РАЗМЕСТИТЕ
										p
											|свой первый заказ в этот же период на сумму 1600 руб. и более (по ценам каталога 15/2016) и оплати его.
									li
										p.agent-step-title.text-uppercase ВЫБЕРИ И ЗАКАЖИ
										p
											|приз всего за 5 руб. со своим первым заказом по каталогу кампании 16/2016 или 17/2016.
								div.agent-button.text-center
									a.text-center.text-uppercase.btn.btn-avon-transparent-white(href="javascript:;") ЗАРЕГИСТРИРОВАТЬСЯ
			.container
				.row
					ul.homeleading_menu
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block АКЦИИ И СКИДКИ
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block ШКАЛА СКИДОК
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block ПУНКТЫ ВЫДАЧИ
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block СРОЧНАЯ ДОСТАВКА
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block ДОГОВОР КОМПАНИИ
						li.item
							a(href="javascript:;")
								span.text-uppercase.text-center.center-block ПРЕДСТАВИТЕЛЯМ
									