.work.row.background_work
	.container-fluid.background_work_color
		.row
			.container
				h2.text-center.text-uppercase СТАНЬ ПРЕДСТАВИТЕЛЕМ AVON
				.work_description
					p Заполни анкету и в самое ближайшее время с тобой свяжется Координатор или Менеджер по продажам и поможет оформить документы на регистрацию в Компании в качестве Представителя.
				.buttonblock.text-center
					a.btn.btn-avon-transparent.text-uppercase(href="javascript:;") Заполнить анкету
				.text-center.shicon.hidden-print
					ul.clearfix.shicon-wrapper
						li
							a.sc.sc-ico01(href="javascript:;" data-icon="ico01" data-toggle="tooltip" title="ПОДЕЛИТЬСЯ: ФЕЙСБУК")
						li
							a.sc.sc-ico02(href="javascript:;" data-icon="ico02" data-toggle="tooltip" title="ПОДЕЛИТЬСЯ: ОДНОКЛАССНИКИ")
						li
							a.sc.sc-ico03(href="javascript:;" data-icon="ico03" data-toggle="tooltip" title="ПОДЕЛИТЬСЯ: ВКОНТАКТЕ")
						li
							a.sc.sc-ico04(href="javascript:;" data-icon="ico04" data-toggle="tooltip" title="ПОДЕЛИТЬСЯ: ТВИТТЕР")
						li
							a.sc.sc-ico05(href="javascript:;" data-icon="ico04" data-toggle="tooltip" title="ПОДЕЛИТЬСЯ: GOOGLE+")
				