.work_full.row.avonbg
	.container
		.row
			.col-md-6.description__title
				h3.hypher Карьерный рост
			.col-md-6.img-wrapper
				img.center-block.img-responsive(src='#{templatedir}/images/avon_carera.jpg', alt='Карьерный рост')
			.col-md-6.description.hypher
				p Возможности AVON открыты для каждого. Сделай следующий шаг и стань Координатором!
				p Координаторы принимают участие в наших Конференциях в Москве, где они первыми узнают последние новости в мире AVON, наслаждаются выступлениями звезд мирового масштаба и получают заслуженные награды на сцене от руководства Компании!
				p Лучшие из Лучших, победители программы «Звездный Клуб», получают современный автомобиль в подарок от AVON за выдающийся вклад в развитие бизнеса.