.work_full_comments.row
	.container.avoncurrentday
		h3.avoncurrentday_title.text-center Непридуманные истории представителей AVON
		.avoncurrentday_description
			p
				| С каждым новым каталогом около 40 000 человек становятся новыми Представителями AVON. В данный момент во всем мире более 6 миллионов Представителей
		.vertical-divider
		.outer-carousel.clearfix
			#carousel-reviews.carousel.slide.clearfix(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carousel-reviews', data-slide-to='0')
					li(data-target='#carousel-reviews', data-slide-to='1')
				.carousel-inner
					.item.active
						p Очень благодарна своему координатору, Атамановой Людмиле Геннадьевне!
						p
							| Прекрасный, добрый и отзывчивый человечек! Терпелива, трудолюбива, всегда идет на встречу!
							br
							| Людей с таким добрым нравом редко встретишь!
						p Очень ценим и благодарим за все!!!
						.user-data
							.col-sm-6
								img.avatar.center-block.img-responsive.img-circle(src='#{templatedir}/images/vera.jpg', alt='Avatar Вера')
							.col-sm-6.text-center
								.user-data-wrapper.text-left
									p.user-year  
									p.user-name Вера
									p.user-cite  
					.item
						p Я очень благодарна своему координатору, Атамановой Людмиле Геннадьевне 
						p Она добрая и всегда готова помочь
						p Спасибо ей за всё
						.user-data
							.col-sm-6
								img.avatar.center-block.img-responsive.img-circle(src='#{templatedir}/images/kizi.jpg', alt='Avatar Таалайбек кызы Алина')
							.col-sm-6.text-center
								.user-data-wrapper.text-left
									p.user-year  
									p.user-name Таалайбек кызы Алина
									p.user-cite  
		.vertical-divider
		.buttonblock.text-center
			button.btn.btn-avon-transparent.text-uppercase.text-center.post-otziv Оставить свой отзыв