.work_full_avonbg.row
	.container
		h3.description__title.text-center.text-uppercase AVON В РОССИИ...
		.description_wrapper.center-block
			p
				|Уже давно стал именем нарицательным. Спросите любую женщину в России, знает ли она AVON, и почти наверняка получите утвердительный ответ. Узнаваемость марки стабильно держится на рекордно высоком уровне 98%-99%. Такой популярностью у российских женщин не может похвастаться ни один другой косметический бренд. Каждая пятая семья в России пользуется как минимум одним продуктом от AVON. Компания была одним из первых иностранных производителей косметической продукции, которая пришла на российский рынок в 90-е годы и сразу же завоевала любовь русских красавиц. Сегодня, почти 20 лет спустя, продукция AVON остается одной из самых востребованных. По итогам 2014 года, AVON признан косметической компанией прямых продаж №1 в России. Является членом Ассоциации Прямых Продаж.
