.work.row.background_work
	.container-fluid.background_work_color
		.row
			.container
				h2.text-center.text-uppercase AVON СЕГОДНЯ...
				.work_description
					p
						| одна из самых успешных косметических компаний в мире в области прямых продаж с оборотом $9 млрд., с более чем 6 миллионами Представителей в 100 странах мира, множеством наград в области парфюмерии и косметики и более чем 125-летней историей.
				.buttonblock.text-center
					a.btn.btn-avon-transparent.text-uppercase(href='javascript:;') Присоедениться