.work_full.row.avonbg
	.container
		.row
			.col-md-6.description__title
				h3.hypher Осуществи мечту
			.col-md-6.img-wrapper
				img.center-block.img-responsive(src='#{templatedir}/images/avon_mechti.jpg', alt='Осуществи свои мечты')
			.col-md-6.description.hypher
					p AVON дает возможность больше времени уделять личной жизни вместо того, чтобы полностью посвящать себя работе.
					p AVON помогает найти гармонию между личной жизнью и бизнесом. Планируй свой день так, как тебе удобно. Не нужно отпрашиваться с работы, чтобы куда-то пойти, ты можешь заниматься своими делами, когда и где тебе удобно. Это очень здорово! Попробуй!