.work_full.row.avonbg_white
	.container
		.row
			.col-md-6.description__title
				h3.hypher Призы и привилегии
			.col-md-6.img-wrapper
				img.center-block.img-responsive(src='#{templatedir}/images/avon_prizi.jpg', alt='Призы и привилегии')
			.col-md-6.description.hypher
				p Размещая заказы клиентов по каждому нашему каталогу, ты получаеешь призы в любимой программе «AVON Клуб»
				p Тебя ждут приятные сюрпризы от AVON и компаний-партнеров, привилегии на каждом уровне Программы и множество других преимуществ. Используй возможности и наслаждайся успехом!